@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: black;
  font-family: 'Lato', sans-serif;
}

#overlay { /* beneath the navdrawer */
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9; /* navdrawer=10, overlay=9, navbar=8 */
  display: none;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 1000px) {
  #navbar .navlinks { display: none; }
  #navdrawer { display: flex; }
  #hamburger { display: block; }
}
@media (min-width: 1000px) {
  #navdrawer { display: none; }
  // #hamburger { display: none; }
}

#navbar {
  width: 100vw;
  height: 70px;
  background: black;

  z-index: 8; /* navdrawer=10, overlay=9, navbar=8 */
  position: fixed; 

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 50px;
    width: 50px;
    background: white;
  }
  nav.navlinks {
    background: green;
  }
  #hamburger {

  }
}

#navdrawer {
  --width: 200px;
  height: 100vh;
  width: var(--width);
  background: blue;
  position: fixed;
  top: 0;
  /* transform: translateX( calc(-1 * var(--width) ) ); */

  // display: flex;
  justify-content: center; 
  align-items: center;
  
  z-index: 10; /* navdrawer=10, overlay=9, navbar=8 */

  nav {
    background: darkorchid;
    display: flex;
    flex-direction: column;
  }
}

.navlink {
  cursor: pointer;
  color: white;
  transition: color 0.2s ease;
  
  &:hover {
    color: darkorange;
  }
}

.page {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  padding-top: var(--init-navbar-height); // make room for navbar
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

page-0 { background: lightblue; }
page-1 { background: hotpink; }
page-2 { background: lightgreen; }
page-3 { background: darkorchid; }
page-4 { background: darkorange; }