@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --bg-primary: lightgray;
  --clr-primary: black;

  --init-navbar-height: 100px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  opacity: 0;
  background: var(--bg-primary);
  color: var(--clr-primary);

  transition: background 1s ease, color 1s ease;
}

#overlay { /* beneath the navdrawer */
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9; /* navdrawer=10, overlay=9, navbar=8 */
  display: none;
  opacity: 0;
  pointer-events: none;
}

.page {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  padding-top: var(--init-navbar-height); // make room for navbar
}
.page#home-page {
  z-index: 1;
  
  opacity: 1;
  height: 100vh;
}
/* .page#about-page { background: lightblue; } */
/* .page#portfolio-page { background: lightgreen; } */
/* .page#contact-page { background: red; } */


header#navbar {
  height: var(--init-navbar-height); /* Starts here, ends at 80px */
  width: 100vw;
  background: rgba(255, 255, 255, 0.1);
  position: fixed;
  z-index: 8; /* navdrawer=10, overlay=9, navbar=8 */
}

header#navbar > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.gutter {
  --padding: 5%;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

nav#navdrawer {
  --width: 200px;
  height: 100vh;
  width: var(--width);
  background: blue;
  position: fixed;
  top: 0;
  transform: translateX( calc(-1 * var(--width) ) );

  display: flex;
  justify-content: center; 
  align-items: center;
  
  z-index: 10; /* navdrawer=10, overlay=9, navbar=8 */
}

nav#navdrawer > .navlinks {
  background: darkorchid;
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
}
nav#navdrawer .navlink:not(:nth-child(1)) {
  margin-top: 30px;
}

.logo {
  height: 50px;
  width: 50px;
  background: white;
}
.navlinks {
  /* background: orange; */
  cursor: pointer;
}
.navlink {
  text-decoration: none;
  color: white;

  transition: color 0.2s ease;
}
.navlink:hover, 
.navlink.active {
  --color: darkorange;
  color: var(--color) !important;
}
header#navbar .navlink:not(:nth-child(1)) {
  margin-left: 30px;
}
.hamburger {
  fill: white;

  --size: 35px;
  height: var(--size);
  width: var(--size);

  cursor: pointer;
}
.hamburger svg {
  fill: white;
}

@media (max-width: 1000px) {
  header .navlinks { display: none; }
}
@media (min-width: 1000px) {
  header .hamburger { display: none; }
}

.page > .container > section {
  height: 100vh;
}

.page#home-page > .container > section#hero {
  display: grid;
}
.page#home-page > .container > section#hero > .left,
.page#home-page > .container > section#hero > .right {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} 

.page#home-page > .container > section#skills {
  color: white;
  background: rgba(255, 255, 0, 0.1);
}

@media (max-width: 1000px) {
  section#hero { 
    grid-template-columns: repeat(1, 1fr);
  }
  section#hero > .right { display: none; }
}
@media (min-width: 1000px) {
  section#hero { 
    grid-template-columns: repeat(2, 1fr);
  }  
}

.center {
  display: grid; 
  place-items: center;
}

/* Scroll Animation */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s ease;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hidden:nth-child(1) { transition-delay: 200ms; }
.hidden:nth-child(2) { transition-delay: 300ms; }
.hidden:nth-child(3) { transition-delay: 500ms; }


/* -------------- Scroll-Bar --------------- */

body {
  /* page content underneath scrollbar: */
  overflow: overlay;
}

/* Chrome and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;

  border-radius: 2px;
  margin-block: 0.2em;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.55);
}

/* Firefox */
@supports (scrollbar-color: red blue) {
  * {
    /* scrollbar-color: <thumb> <track> */
    scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
    scrollbar-width: thin;
  }
}

/* ^^^^^^^^^^^^^^ Scroll-Bar ^^^^^^^^^^^^^^^ */

/* Lottie Animation: */
.lottie-container {
  position: relative;
  background: red;
  width: fit-content;
}

.lottie-container > .lottie-svg {
  /* background: rgba(0, 0, 0, 0.1); */
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  transform: translateX(-25%) translateY(-100%);
}
.hide { display: none; }

/* =========================================== */

.shadow {

  --v-offset: 7px;
  --h-offset: 0;
  --blur: 20px;
  --spread: 0px;
  --shadow-clr: rgba(0, 0, 0, 0.15);
  --shadow-clr-hover: rgba(0, 0, 0, 0.175);

  /* @function shadow($blur) {
    $shadow: $h-offset $v-offset $blur $spread $shadow-clr;
    @return $shadow;
  } */

  /* @function shadow-hover($x) {
    $shadow-hover: $h-offset $v-offset calc(#{$blur} * 2) $spread
      $shadow-clr-hover;
    @return $shadow-hover;
  } */


  box-shadow: var(--h-offset) var(--v-offset) var(--blur) var(--spread) var(--shadow-clr);
}

/* ======================================= */
/* Parallax Elements: */
.float {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 200;
}
.float.one {
  background: lightblue;
  bottom: 2%; 
  left: 1%;
  
}
.float.two {
  background: darkorange;
  bottom: 7%;
  right: 3%;
}
.float.three {
  background: lightgreen;
  bottom: 10%;
  left: 5%;
}
.float.four {
  background: darkorchid;
  border-radius: 50%;
  bottom: -30%;
  right: 10%;
}

.float.four  {
  /* https://codersblock.com/blog/creating-glow-effects-with-css/ */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}

/* =========================== */

.btn {
  border-radius: 5px;
  padding: 1rem;
  color: white;
  background: darkorange;
  cursor: pointer;
}